/*---- Mobile ----*/
.wrapNav {
  border-bottom: 1px solid #b5b5b5;
}
.nav {
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: .4s;
}

.user-profile-image {
  cursor: pointer;
}
.nav ul {
  display: flex;
  gap: 2vw;
  align-items: center;
}
.linkMapNav {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #b5b5b5;
  text-decoration: none;
  cursor: pointer;
}
.linkButtonMapNav button {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #b5b5b5;
  text-decoration: none;
  border: 2px solid #b5b5b5;
  border-radius: 30px;
  padding: 8px 45px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.imgnav {
  width: 120px;
}
.burgerMenu {
  width: 24px;
}
.menuBubble {
  position: absolute;
  top: 100px;
  right: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(46, 51, 51, 0.75);
  padding: 20px;
  z-index: 10;
}
.menuBubble ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menuBubble .link,
.menuBubble .linkButton {
  color: white;
  text-decoration: none;
}

/*---- Burger Menu ----*/
@media (max-width: 860px) {
  .nav > ul {
    display: none;
  }
  .burgerMenu {
    display: block;
    cursor: pointer;
  }
  .linkBurgerNav {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #b5b5b5;
    text-decoration: none;
    cursor: pointer;
  }
  .linkButton button {
    color: #b5b5b5;
    border: 2px solid #b5b5b5;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  }
}

/*---- Tablet Vertical ----*/
@media screen and (min-width: 860px) {
  .nav {
    height: 60px;
  }
}

/*---- Tablet Horizontal ----*/
@media screen and (min-width: 861px) {
  .nav {
    height: 100px;
  }
}
