/*---- Mobile ----*/
.partnersHome {
  background-color: #2d3333;
}
.wrapPartnersHome Img {
  /* height: 3.5rem; svp, arretez avec les 'rem' */
  height: 35px;
  object-fit: covert;
}
.footerHome {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #ffffff7a;
  background-color: #222627;
}
.wrapFooterHome,
.wrapPartnersHome {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapPartnersHome {
  padding: 50px 40px;
  justify-content: space-between;
}
.wrapFooterHome {
  padding: 30px 40px;
  justify-content: space-between;
}
.wrapFooterHome p,
.linkCGU {
  font-size: 0.9rem;
}
.linkCGU {
  text-decoration: none;
  color: #ffffff7a;
}

/*---- Mobile intermédiaire ----*/
@media screen and (min-width: 390px) {
  .wrapPartnersHome Img {
    height: 45px;
  }
}

/*---- Tablet Vertical ----*/
@media screen and (min-width: 500px) {
  .wrapPartnersHome Img {
    height: 60px;
  }
}

/*---- Tablet Horizontal ----*/
@media screen and (min-width: 1024px) {
  .wrapPartnersHome Img {
    height: 70px;
  }
}

/*---- Desktop ----*/
@media screen and (min-width: 1100px) {
  .wrapPartnersHome Img {
    height: 80px;
  }
}
