/*---- Mobile ----*/
.leaflet-bar {
  display: none;
}

.appContainer {
  height: 90vh;
  position: relative;
  z-index: 0;
}
.mapContainer {
  position: relative;
  z-index: 1;
}
.mapOptions {
  width: 100vw;
  height: 90vh; /* réglage hauteur du bloc info station */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}
.WrappBannerAndSelection {
  margin: 0;
}

/*---- Tablet Vertical ----*/
@media screen and (min-width: 861px) {
  .mapOptions {
    width: 100vw;
    height: 85.6vh; /* réglage hauteur du bloc info station */
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
  }
}

/*---- Tablet Horizontal ----*/
@media screen and (min-width: 1024px) {
  .mapOptions {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 30px;
  }
}

/*---- Desktop ----*/
@media (min-width: 1100px) {
  .mapOptions {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 50px;
  }
}
