.map {
  width: 100vw; /* Occupe toute la largeur visible */
  height: 45vh; /* Occupe 50% de la hauteur visible */
  display: flex;
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement si nécessaire */
}

.map img {
  width: 100%; /* Fait correspondre l'image à la largeur de la section */
  height: 100%; /* Fait correspondre l'image à la hauteur de la section */
  object-fit: cover; /* Coupe l'image pour remplir sans distorsion */
}
