.footer {
  width: 332px;
  background-color: #2e3333;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 16px;
  pointer-events: auto;
}
.Wire {
  width: 1.5rem;
}

/*---- Tablet Horizontal ----*/
@media screen and (min-width: 1024px) {
  .footer {
    height: 70vh;
    width: 60px;
    padding: 25px 20px;
    flex-direction: column;
  }
}

@media (min-width: 1100px) {
  .footer {
    height: 70vh;
    width: 70px;
    padding: 25px 20px;
    flex-direction: column;
  }
}
