@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/*---- Mobile ----*/
.headerHome {
  margin: 0 auto;
  background-image: url(../../images/bg_home.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.headerContenair {
  max-width: 1200px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
}
.headerInfos {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.headerInfos h1 {
  font-family: "Nexa", Arial, Helvetica, sans-serif;
  font-size: 1.65rem;
  text-align: center;
  line-height: 3rem;
  color: #fff;
  margin: 0;
}
.headerInfos p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #fff;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
  margin: 0;
}
.iconCenter {
  display: flex;
  justify-content: center;
}
.iconScroll {
  height: 48px;
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  animation: floatAnimation 2s ease-in-out infinite;
}

/*---- Tablet ----*/
@media screen and (min-width: 600px) {
  .headerContenair {
    max-width: 100%;
  }
  .headerInfos {
    width: 500px;
    gap: 20px;
  }
  .headerInfos h1 {
    font-size: 2.50rem;
    color: #fff;
    line-height: 60px;
    text-align: center;
  }
  .headerInfos p {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
  }
  .iconScroll {
    height: 60px;
  }
}

/*---- Desktop ----*/
@media screen and (min-width: 1100px) {
  .headerContenair {
    max-width: 1200px;
    flex-direction: row;
    justify-content: right;
  }
  .headerInfos {
    width: 600px;
    justify-content: right;
    align-items: center;
    gap: 20px;
  }
  .headerInfos h1 {
    font-size: 2.875rem;
    color: #fff;
    line-height: 60px;
    text-align: left;
  }
  .headerInfos p {
    font-size: 1.40rem;
    color: #fff;
    font-weight: 300;
    line-height: 48px;
    text-align: justify;
  }

  .iconScroll {
    height: 78px;
  }
}
