/*---- Mobile ----*/
.banner {
  width: 332px;
  padding: 15px 18px;
  background-color: #00aadc;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  pointer-events: auto;
  margin-bottom: 20px;
  box-shadow: 0 5px 20px rgba(46, 51, 51, 0.5);
}
.wrapReservBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
/* Start -- CSS Comming handle toggle button*/
.switch {
  width: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  display: inline-block;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.sliderRound {
  height: 32px;
  width: 58px;
  position: absolute;
  cursor: pointer;
  margin-top: -5px;
  -webkit-margin-before: -8px;
  border: 2px solid white;
  background-color: transparent;
  transition: .4s;
}
.sliderRound:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}
input:checked + .sliderRound {
  background-color: #00dc30;
}
input:focus + .sliderRound {
  box-shadow: 0 0 1px #00aadc;
}
input:checked + .sliderRound:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.sliderRound {
  border-radius: 2rem;
}
.sliderRound:before {
  border-radius: 50%;
}
/* End -- CSS Comming handle toggle button*/

/* Start -- CSS Comming handle validation button*/
.ButtonReserv {
  padding: 6px 20px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2rem;
  box-sizing: border-box;
  color: white;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.ButtonReserv:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.ButtonReserv:focus-visible {
  box-shadow: none;
}
/* End  -- CSS Comming handle validation button*/

/*---- Desktop ----*/
@media screen and (min-width: 1100px) {
  .banner {
    width: 400px;
  }
  sliderRound {
    height: 32px;
    width: 58px;
    top: -4px;
  }
  .sliderRound:before {
    left: 3px;
    bottom: 3px;
  }
}
